{% extends "base.html" %} {% block content %}
<div class="container my-3 d-flex justify-content-center align-items-center">
 
  <div class="card " style="width: 30rem; ">
    <div class="card-body">
       <h5 class="card-title text-center text-uppercase">Add Students</h5>
       <hr>
      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" name="age" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" class="form-control" id="image" name="image" />
        </div>
        <div class="mb-3">
          <select
            class="form-select"
            aria-label="Default select example"
            name="branch"
          >
            <option selected>Open this select menu</option>
            <option value="CS">Computer Science</option>
            <option value="AI">Artificial Intelligence</option>
            <option value="DS">Data Science</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary col-md-12">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
