{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Upload</h1>
<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3">
    <label for="file_name" class="form-label">File Name</label>
    <input type="text" class="form-control" id="file_name" aria-describedby="emailHelp" name="file_name">
    
  </div>
  <div class="mb-3">
    <label for="upload_file" class="form-label">Upload File</label>
    <input type="file" class="form-control" id="upload_file" name="upload_file">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="container">
  {% for file in uploads %}
  <div class="card" style="width: 18rem;">
    {% with file.upload_file.url|slice:"-4:" as extension  %}
    {% if extension  in ".jpg .png .gif" %}
    <img src="{{file.upload_file.url}}" class="card-img-top" alt="file">
    {% elif extension  == ".mp4" %}
    <video height="200" controls>
      <source src="{{file.upload_file.url}}">
    </video>

      {% elif extension in ".mp3 .wav .ogg" %}
        <audio controls class="w-100 mt-2">
          <source src="{{file.upload_file.url}}">
        </audio>
    {% endif %}
    
    {% endwith %}
  
  <div class="card-body">
    <p class="card-text">{{file.file_name}}</p>
  </div>
</div>
{% endfor %}
</div>

{% endblock content %}